body {
    margin: 0;
  }
  
  #banner {
    background-color: #cccccc;
    background-position: 50% 100%;
    background-size: cover;
    background-image: url('bannerimg.jpeg');
    font-family: 'Playfair Display', serif;
    padding: 20vh 20px;
    text-align: center;
    color: white;
  }

  h1{
    font-size: 60px;
  }
  
  .section {
    align-items: center;
    display: flex;
    padding: 50px;
    font-family: 'Mukta', sans-serif;
  }

  
  .section p {
    flex: 1;
    font-family: 'Mukta', sans-serif;
  }
  
  .section svg {
    border: 1px solid blue;
    flex: 2;
    height: 500px;
    margin: 20px;
  }
  
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
      width: 100%;
    }
  }
  
  #tooltip {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
  }


  
  
  