body {
    margin: 0;
  }
  
  #banner {
    background-color: #cccccc;
    background-position: 50% 100%;
    background-size: cover;
    background-image: url('bannerimg.jpeg');
    font-family: 'Playfair Display', serif;
    padding: 20vh 20px;
    text-align: center;
    color: white;
  }

  h1{
    font-size: 60px;
  }
  
  .section {
    align-items: center;
    display: flex;
    color: blue;
    padding: 50px;
    font-family: 'Mukta', sans-serif;
  }

  
  .section p {
    flex: 1;
    font-family: 'Mukta', sans-serif;
  }
  
  .section svg {
    flex: 2;
    height: 700px;
    margin: 20px;
  }
  
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
      width: 100%;
    }
  }

  #tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    font-family: 'Mukta', sans-serif;
    font-size: 10pt;
    background-color:#c7f9cc;
    padding: 2px;
    opacity: 0;
    pointer-events: none;
}

#tooltip2 {
  position: absolute;
  display: block;
  font-family: 'Mukta', sans-serif;
  font-size: 10pt;
  background-color:#fbc4ab;
  padding: 2px;
  opacity: 0;
  pointer-events: none;
}

  
  