body {
    margin: 0;
    font-family: "Comic Sans MS";
  }

  h1 {
    font-family: "Comic Sans MS";
    text-align: center;
  }

#banner {
    background-color: #cccccc;
    background-image: url('https://cdn2.thecatapi.com/images/9pf.jpg');
    background-position: center;
    background-size: cover;
    padding: 20vh 20px;
    text-align: center;
  }

.section {
    align-items: center;
    display: flex;
    padding: 50px;
  }
  
.section p {
    flex: 1;
  }
  
.section svg {
    border: 1px solid red;
    flex: 2;
    height: 300px;
    margin: 20px;
  }

  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
      width: 100%;
    }
  }


  #tooltip {
    background-color: white;
    border: 1px solid black;
    display: none;
    position: absolute;
  }